@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
	padding: 1.5rem;
	/* color: white;
	text-align: center;  */
}

a:hover {
	color: orange;
}

@media only screen and (max-width: 570px) {
	a {
		padding: 0.5rem;
		font-size: 1rem;
	}
}

* {
	box-sizing: border-box;
	background-color: black;
}
